{% extends 'base.html.twig' %}

{% block title %}Создать услугу{% endblock %}

{% block body %}
    <h1 class="mb-4">Создать услугу</h1>

    <a href="{{ refererUrl|default(path('service')) }}" class="btn btn-primary mb-3">Назад</a>

    {{ include('service/_form.html.twig') }}

    <a href="{{ refererUrl|default(path('service')) }}" class="btn btn-primary mb-3">Назад</a>
{% endblock %}
