{% extends 'base.html.twig' %}

{% block title %}Создать услугу{% endblock %}

{% block body %}
    <h1>Создать услугу</h1>

    <a href="{{ path('service') }}" class="btn btn-primary">Назад</a>

    {{ include('service/_form.html.twig') }}

    <a href="{{ path('service') }}" class="btn btn-primary">Назад</a>
{% endblock %}
