{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mt-5 mb-4 text-center text-uppercase">ГУ «Ивановский территориальный центр социального обслуживания населения»</h1>

    <div>
        <p>Ивановский территориальный центр социального обслуживания населения (Ивановский ТЦСОН) является
            государственным учреждением социального обслуживания, деятельность которого направлена на организацию
            комплексного социального обслуживания граждан (семей), находящихся в трудной жизненной ситуации.</p>
        <h6>Территориальный центр оказывает следующие виды услуг:</h6>
        <p>
            <ul>
                <li>консультационно–информационные</li>
                <li>социально–бытовые</li>
                <li>социально–педагогические</li>
                <li>социально–посреднические</li>
                <li>социально–психологические</li>
                <li>социально–реабилитационные</li>
            </ul>

            В центре функционирует бригада социального обслуживания на мобильной основе.
        </p>
    </div>

{% endblock %}