{% extends 'base.html.twig' %}

{% block title %}Создание клиента{% endblock %}

{% block body %}
    <h1>Создание клиента</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('client') }}">Назад</a>
{% endblock %}
