{% extends 'base.html.twig' %}

{% block title %}Создание гражданина{% endblock %}

{% block body %}
    <h1 class="mb-4">Создание гражданина</h1>

    <a href="{{ refererUrl|default(path('client')) }}" class="btn btn-primary mb-3">Назад</a>

    {{ include('client/_form.html.twig') }}

    <a href="{{ refererUrl|default(path('client')) }}" class="btn btn-primary mb-3">Назад</a>
{% endblock %}
