{% extends 'base.html.twig' %}

{% block title %}Создание гражданина{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-4">Создание гражданина</h1>

    <a href="{{ path('client') }}" class="btn btn-primary">Назад</a>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('client') }}" class="btn btn-primary">Назад</a>
{% endblock %}
