{% extends 'base.html.twig' %}

{% block title %}Создание работника{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-4">Создание работника</h1>

    <a href="{{ refererUrl|default(path('user')) }}" class="btn btn-primary mb-3">Назад</a>

    {{ include('user/_form.html.twig') }}

    <a href="{{ refererUrl|default(path('user')) }}" class="btn btn-primary mb-3">Назад</a>
{% endblock %}
